<form name="myForm" ng-submit="finish()">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">{{form_data['title'][config.language.abbr]}}</h3></div>
    <div class="panel-body">
      {{form_data['instructions'][config.language.abbr]}}
    </div>
    <table class="table table-striped">
      <tr>
        <th width="35%" class="text-left">{{form_data['header_a'][config.language.abbr]}}</th>
        <th width="13%" class="text-center">{{form_data['header_1'][config.language.abbr]}}</th>
        <th width="13%" class="text-center">{{form_data['header_2'][config.language.abbr]}}</th>
        <th width="13%" class="text-center">{{form_data['header_3'][config.language.abbr]}}</th>
        <th width="13%" class="text-center">{{form_data['header_4'][config.language.abbr]}}</th>
        <th width="13%" class="text-center">{{form_data['header_5'][config.language.abbr]}}</th>
      </tr>
      <tr ng-repeat="question in form_data.questions">
        <td>{{question.text[config.language.abbr]}}</td>
        <td class="text-center" ng-repeat="score in form_data.scores">
          <label class="radio-inline">
            <input type="radio" name="response_{{question.id}}" id="response_{{question.id}}" value="{{score}}" ng-click="answerQuestion(question.id)" ng-model="question.answer"> {{score}}
          </label>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="text-right">
          &nbsp;<p>
            <button type="submit" class="btn btn-success btn-lg" ng-disabled="form_disabled">{{config.complete[config.language.abbr]}}</button>
          </p>
        </td>
      </tr>
    </table>
    <div class="panel-footer">Preparation for Decision Making Scale © ID Graham, AM O’Connor 1996, revised 2005 University of Ottawa</div>
  </div>
</form>
