<video width="{{question.options.width}}" height="question.options.height" class="embed-responsive-item" id="question_video_{{question.id}}" autoplayonoff autoplay-attr-on="{{question.options.autoplay}}" autoplay-attr-name="autoplay" controlsonoff controls-attr-on="{{question.options.controls}}" controls-attr-name="controls" looponoff loop-attr-on="{{question.options.loop}}" loop-attr-name="loop" preload="{{question.options.preload}}" volume="{{question.options.volume}}" videocontrol>
  <source src="{{question.options.video_src}}" type="video/mp4">
  <p>Your browser does not support HTML5 Video content.</p>
</video>
